{% extends "base.html"%}
{% block head %} 
<title>
    Your TO-DO List
</title>
{% endblock %}

{% block body %} 

<form action="/" method="POST">
 <div style="padding:10px; display: flex; flex-direction: column; align-items: center; justify-content: left; width: 100%;">
    <div style="display: flex; width: 100%; column-gap: 5px; justify-content: center; align-items: center; width: 50%;">
        <div style="flex-grow: 1;">
            {{form.hidden_tag()}}
            {{form.task(class="text-box", placeholder=" Type to add new task")}}
            
        </div>
        <div>
            {{form.submit(class="submit")}}
            
        </div>
    </div>

    <div>
        {% with messages=get_flashed_messages()%}
            {% for message in messages %} 
                <p> {{message}}</p>
            
            {% endfor%}
        {% endwith %}
    </div>

    <div   style="width: 70%; justify-content: center; padding:20px; background-color: blanchedalmond; margin:20px 0" >
        <table class="task-table" border="1" cellpadding="10px" cellspacing="0" >
            <thead>
                <tr>
                    
                    <th style="width: 15%;">
                        Date-Time
                    </th>
        
                    <th style="width:40%">
                        Tasks
                    </th>
                    
                    <th style="width:5%">
        
                        Alterations
                    </th>

                </tr>


                
                
            </thead>

            <tbody >
                {% if data_record %}
                    {% for record in data_record %} 
                        <tr >
                            

                            <td style=" padding: 0; text-align:center ; overflow: hidden;">
                                
                                {{record.dat.strftime("%Y-%m-%d    ")}}
                                {{record.dat.strftime("%I:%M %p")}}
                            </td>

                            <td style="padding: 1px;text-align:center; height: 5px; overflow: hidden;">
                                <p>{{record.task}}</p>
                            </td>
                       

                            <td style="padding: 1px;text-align:center; overflow: hidden;">
                                <a class="update" style="display: block; padding: 0 0 4px 0;" href="{{url_for('update', s_no=record._s_no)}}"> Update</a>
                                <a class="delete" href="{{url_for('delete', s_no=record._s_no)}}"> Delete</a>
                            </td>

                        </tr>
                    {% endfor %}

                {% else %}
                <tr>
                    <td colspan="3">No tasks available. Please add a task.</td>
                </tr>
                {% endif %}
                
            </tbody>
            

        </table>
    </div>
 </div>
</form>

{% endblock %}